<body style="background-color: azure">
    <h2>FACECOOK Login</h2>

    <form action="/facecook/login?returnUrl=@ViewBag.returnUrl" method="post">
        Username <input type="text" name="user" />
        Password <input type="password" name="pass" />
        <input type="submit" value="Login" />
    </form>

</body>